.table-container > table {
    width: 100%;
    color: black !important;
    border-collapse: collapse;

    th, tr, td {
        height: 60px;
        width: 15%;
    }

    tr {
    box-shadow: 0px 2px 2px	#D3D3D3;
    }

    td {
        text-align: center;
    }
}

.heading {
    background-color: #F2F2F2;
}
